/* Top Navbar Styles */
.top-navbar {
    background-color: rgba(163, 162, 162, 0.979);
    color: #fff;
    padding: 10px;
    
}

.top-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Align content to the right */
}

.top-navbar li {
    margin-right: 10px;
}

.top-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.top-navbar a:hover {
    background-color:blue;
    color:yellow;
    
}

/* Left Navbar Styles */
.left-navbar {
    background-color:black;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.left-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-navbar li {
    margin-bottom: 10px;
}

.left-navbar a {
    color:rgb(182, 182, 182);
    text-decoration: none;
    padding: 5px;
}

.left-navbar a:hover {
    background-color: #ccc;
    color: rgb(255, 238, 0);
}

/* Content Styles */
.content {
    margin-left: 220px; /* Adjust this value based on the left navbar width */
    padding: 20px;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -10vh;
}
.left-navbar-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #eee;
    color: #333;
    padding: 5px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .left-navbar-toggle {
        top: 50%;
        transform: translateY(-50%);
    }
}

.left-navbar.left-navbar-minimized {
    width: 60px;
}

.left-navbar.left-navbar-minimized ul {
    display: none;
}

.content{
    background-image:url(black\ background.jpg);
    background-size: 100% auto;
    background-position: left center;
    min-height: 550px;
    min-width: 500px;
    display: flex;
  justify-content: center;
}
.card {
    margin: 0 80px;
}
.card-body {
    display: flex;
        justify-content: space-between;
        align-items: center;
}
      
 .card-link {
        margin-left: auto;
      }

h2 {
    font-size: 18px;
    color: white;
}
h5{
    color:white;
    
}
.savings_amount{
    color: white
}

    
 